# カンファレンスの著者情報を集計する

In [14]:
import re

import pandas as pd

FILE_PATH = "../data/raw/kdd2021_ads_authors.csv"

In [4]:
df = pd.read_csv(FILE_PATH)

In [11]:
# 投稿数が多い組織順
df.groupby("author_belong_0").size().to_frame("count").reset_index().sort_values("count", ascending=False).head(20)

                                  author_belong_0  count
1                                   Alibaba Group     11
79                            Tsinghua University      6
52                                      Microsoft      4
26                                       Facebook      4
3                                          Amazon      4
30                                         Google      4
72                            Stanford University      3
63                             Rutgers University      3
53                             Microsoft Research      3
51                      Michigan State University      3
0                                         Alibaba      3
5                                           Baidu      3
58                            New York University      2
86  University of Science and Technology of China      2
66                  Shanghai Jiao Tong University      2
6                                      Baidu Inc.      2
7                              Beihang University      2
50                                        Meituan      2
74                                        Tencent      2
85            University of Massachusetts Amherst      2

In [30]:
# 教育機関で分ける

def is_university(text: str) -> int:
    """教育機関か否かを判断する"""
    regex = ".*(university|unviersity|unist|kaist|ucla|uc berkeley|iiit-d|leuven).*"
    if re.match(regex, text.lower()):
        return 1
    else:
        return 0
    
df["is_university"] = df["author_belong_0"].apply(lambda x: is_university(x))

print("全体: ", df.shape[0])
print("第1著者が教育機関所属: ", df["is_university"].sum())

全体:  155
第1著者が教育機関所属:  65

In [26]:
print(companies)

['Meituan', 'Deezer', 'Alibaba', 'Similarweb', 'Skoltech', 'WeChat Search Application Department, Tencent', 'Alibaba Group', 'Amazon', 'Amazon', "Huawei Noah's Ark Lab", 'Huawei Technologies', 'Didi Chuxing', 'JD Tech', 'ETH Zürich', 'Huawei Technologies Canada Co., Ltd.', 'Intel', 'DeepBlue', 'Google Research', 'Google', 'Lyft', 'Intuit', 'Total', 'Facebook', 'Google', 'Microsoft', 'Alibaba Group', 'isi foundation', 'Alibaba Group', 'Damo Academy, Alibaba Group', 'Indian Institute of Technology Madras', 'Alibaba Inc.', 'Microsoft Research', 'Google Research', 'California Institute of Technology', 'Yahoo Research', 'Alibaba', 'Beijing Institute of Technology', 'Baidu Inc.', 'Alibaba Group', 'Amazon', 'Alibaba Group', 'ETH Zurich', 'Amazon', 'NetEase', 'Microsoft Research', 'Baidu', 'Facebook Inc.', 'Google', 'Alibaba Group', 'Business Intelligence Lab, Baidu Research', 'LinkedIn Corporation', 'Tencent', 'Institute of Computing Technology, Chinese Academy of Sciences', 'Alibaba Group', 'Alibaba Group', 'Alibaba Group', 'baidu', 'Alibaba Group', 'Baidu', 'Microsoft Research', 'Meituan', 'Google', 'Hasso Plattner Institute', 'Facebook', 'Alibaba Group', 'Microsoft', 'Tencent', 'eBay', 'Baidu Inc.', 'ETHZ', 'CNRS', 'Facebook', 'Alibaba', 'Microsoft Research Asia', 'Georgia Institute of Technology', 'Zalando SE', 'Xiaohongshu', 'Baidu', 'Siemens', 'Feedzai', 'Walmart Labs', 'LinkedIn', 'Technion', 'Tencent Inc.', 'DiDi AI Labs', 'Facebook', 'Yahoo Research', 'Microsoft', 'Ant Group', 'Microsoft']